body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #282828;
}

header {
  background-color: #282828;
  color: whitesmoke;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

ul {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 25px;
  list-style: none;
}

li {
  cursor: pointer;
}

.icon {
  width: 25px;
}

.align-right {
  margin-left: auto;
  /* margin: auto 0 auto auto; */
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}

/* p {
    margin: 0;
} */

.item {
  position: relative;
}

.item-img {
  display: block;
  width: 100%;
}

.caption {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

.img-banner {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px;
}

button {
  align-self: center;
  background-color: #cd6858;
  border: none;
  padding: 10px 15px;
  
  color: whitesmoke;
  font-weight: 700;
  cursor: pointer;
}

.chatbox-bg {
  display: flex;
  width: 40px;
  height: 40px;

  position: fixed;
  bottom: 6px;
  right: 6px;

  background-color: #cd6858;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 5px #999;
}

.chatbox-img {
  width:50%;
  margin: auto;
}
